<div class="container-fluid">
        <div class="row">
            <div class="inner_header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn">
                        <h2>About us</h2>
                        <div class="paging">
                            Home  <a href="#">About Us</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--////////////////////////////////////////////////////// Header End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <!--////////////////////////////////////////////////////// Content Part Start \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <div class="container">
        <div class="row">
            <div class="inner_part">
                <div class="col-md-7">
                    <div class="about_left">
                        <h2 class=" wow fadeIn">About <span>WRC</span></h2>
                        <p class=" wow fadeIn">{{contact_details[0].company_aboutus}} </p>

                        <div class="about_ser wow fadeInRight">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="storage/sites/images/a1.jpg" alt="">
                                </div>

                                <div class="col-md-10">
                                <h3>Software Development</h3>
                                <ul>
                                    <li>Web-Based Software Application and Product Development</li>
                                    <li>Enterprise Web Portal Development</li>
                                    <li>Business Application Development</li>
                                </ul>
                                </div>
                            </div>
                        </div>

                        <div class="about_ser wow fadeInRight">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="storage/sites/images/a2.jpg" alt="">
                                </div>

                                <div class="col-md-10">
                                <h3>Mobile Application</h3>
                                <ul>
                                    <li>Web-Based Software Application and Product Development</li>
                                    <li>Enterprise Web Portal Development</li>
                                    <li>Business Application Development</li>
                                </ul>
                                </div>
                            </div>
                        </div>

                        <div class="about_ser wow fadeInRight">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="storage/sites/images/a3.jpg" alt="">
                                </div>

                                <div class="col-md-10">
                                <h3>Web Application</h3>
                                <ul>
                                    <li>Web-Based Software Application and Product Development</li>
                                    <li>Enterprise Web Portal Development</li>
                                    <li>Business Application Development</li>
                                </ul>
                                </div>
                            </div>
                        </div>

                        <div class="about_ser wow fadeInRight">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="storage/sites/images/a4.jpg" alt="">
                                </div>

                                <div class="col-md-10">
                                <h3>SaaS Solution</h3>
                                <ul>
                                    <li>Rich Internet Applications Development</li>
                                    <li>High-end Ecommerce Shopping Cart Development</li>
                                    <li>Advanced Content Management Systems</li>
                                    <li>Supply Chain Management System</li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="about_right  wow fadeIn">
                    <img src="storage/sites/images/about_right.jpg" alt="">

                    <h2>Our Skills</h2>
                    <p>WRC Technologies will develop a tailored software solution for your business.</p>

                    <div class="progSys">
                        Custom Software Development
                         <div class="progress">
                              <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="95%"
                              aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                <!-- <div class="persentage">95%</div> -->
                              </div>
                         </div> 
                    </div>

                    <div class="progSys">
                        Mobile Appilication
                         <div class="progress">
                              <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="70%"
                              aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                <!-- <div class="persentage">95%</div> -->
                              </div>
                         </div> 
                    </div>

                    <div class="progSys">
                        Web Appilication
                         <div class="progress">
                              <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="100%"
                              aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                <!-- <div class="persentage">95%</div> -->
                              </div>
                         </div> 
                    </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--////////////////////////////////////////////////////// Content Part End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

    <!--////////////////////////////////////////////////////// Company Start \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

    <div class="container-fluid">
        <div class="row">
            <div class="companyid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 wow fadeInDown">
                            <img src="storage/sites/images/c1.png" alt="">
                            <h3>Incorporated in <b>2011</b></h3>
                        </div>
                        <div class="col-md-3 wow fadeInDown">
                            <img src="storage/sites/images/c2.png" alt="">
                            <h3><b>50+</b> Employees</h3>
                        </div>
                        <div class="col-md-3 wow fadeInDown">
                            <img src="storage/sites/images/c3.png" alt="">
                            <h3>clients from <b>22 countries</b></b></h3>
                        </div>
                        <div class="col-md-3 wow fadeInDown">
                            <img src="storage/sites/images/c4.png" alt="">
                            <h3><b>90%</b> customer satisfaction</b></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!--////////////////////////////////////////////////////// Footer logo Start \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

    <div class="container">
        <div class="row">
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl1.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl2.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl3.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl4.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl5.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl6.jpg" alt=""></div></div>
        </div>
    </div>

    <!--////////////////////////////////////////////////////// Footer logo End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->