<div class="container-fluid">
        <div class="row">
            <div class="inner_header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn">
                            <h2>careers</h2>
                            <div class="paging">
                                Home <a href="#">Careers</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--////////////////////////////////////////////////////// Header End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <!--////////////////////////////////////////////////////// Team Start \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <div class="container">
        <div class="row">
            <div class="contact_sec">
                <div class="col-md-12">
                    <div class="careers wow fadeIn">
                    <h3>You can accomplish big things at WRC Technologies</h3>
                    <h4>Send your resume to info@wrctechnologies.com  /  +91 9007341342  or apply via</h4>
                    
                </div>
            </div>

            <div ng-init="job_details()" >
                <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="details in job_details">
                    <div class="job-thumbnail">
                        <h3>{{details.recruit_title}}</h3>
                        <h4>Experience: {{details.experience}}</h4>
                        <p>Location: Kolkata</p>
                        <a href="/view-job-details/{{details.id}}" class="btn btn-primary">View Job Description</a>
                        <h5>Share with</h5>
                        <a href="#" class="fbok"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" class="Twit"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                        <button ng-click="share(post)">SHARE</button>

                        <!-- //for sharing// -->
                                
                                  <div id="fb-root"></div>
                                  <script>
                                    window.fbAsyncInit = function() {
                                        FB.init({
                                            appId: '1976355635939442', 
                                            status: true, 
                                            cookie: true,
                                            xfbml      : true,
                                            version    : 'v2.5'
                                        });
                                        init();
                                    };
                                    (function() {
                                        var e = document.createElement('script'); e.async = true;
                                        e.src = document.location.protocol +
                                        '//connect.facebook.net/en_US/sdk.js';
                                        document.getElementById('fb-root').appendChild(e);
                                    }());
                                  </script>
                                  
                            
                                <!-- //end// -->
                    </div>
                </div>
            </div>


        </div>

    </div>