  <ul class="rslides" id="slider1">
    <li>
        <div class="sliderwraper">
              <h1 class="wow fadeInDown"><b>SOFTWARE</b> DEVELOPMENT</h1>
              <p class="wow fadeInDown">Custom designed solutions for all business applications</p>
              <p class="wow fadeInDown">WRC Technologies create software solutions and websites to <br>meet your exact requirements from mobile applications...</p>
              <a href="#" class="Breadmore wow fadeInDown">readmore</a>
        </div>
        <img src="/storage/sites/images/banner01.jpg" alt="">
    </li> 
    <li>
      <div class="sliderwraper1">
              <h1 class="wow fadeInDown"><b>mobile app</b> DEVELOPMENT</h1>
              <p class="wow fadeInDown">Apple, Android, Symbian, Blackberry, Windows.</p>
                  <ul class="wow fadeInDown">
                      <li>Widest range of wireless devices</li>
                      <li>Powerful marketing tool</li>
                      <li>Engaging, interactive and memorable</li>
                      <li>Ideal for social network marketing</li>
                      <li>Creates immediate consumer response</li>
                      <li>Within user reach 24/7</li>
                  </ul>
              <a href="#" class="Breadmore1 wow fadeInDown">readmore</a>
        </div>
      <img src="/storage/sites/images/banner02.jpg" alt=""></li>
    <li>
      <div class="sliderwraper2">
              <h1 class="wow fadeInDown"><b>Web</b> DEVELOPMENT</h1>
              <p class="wow fadeInDown">The very best money can buy</p>
                  <ul class="wow fadeInDown">
                      <li>Website design</li>
                      <li>Search Engine optimisation</li>
                      <li>Website Add-On Tools :Photo Gallery,Blogs</li>
                      <li>Database Design & Marketing Tools</li>
                      <li>Content Management</li>
                      <li>Custom Designed or Open Source options</li>
                  </ul>
              <a href="#" class="Breadmore2 wow fadeInDown">readmore</a>
        </div>
    <img src="/storage/sites/images/banner03.jpg" alt="">
    </li>
  </ul>