<div class="container-fluid">
        <div class="row">
            <div class="inner_header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn">
                            <h2>Job Description</h2>
                            <div class="paging">
                                Home <a href="#">Job Description</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--////////////////////////////////////////////////////// Header End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <!--////////////////////////////////////////////////////// Team Start \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <div class="container">
        <div class="row">
            <div class="contact_sec">
                <div class="container font-body career-text">
                    <div class="job-details" ng-init="job_description()">
                        <h2 class="heading2 text-center">{{details.recruit_title}}</h2>
                        <div class="inner">
                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Technical Skills:</h3></div>
                                    <br>
                                <div class="col-md-8" ng-bind-html="technical_skills">
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Soft Skills:</h3></div>
                                    <br>
                                <div class="col-md-8" ng-bind-html="soft_skills">
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Desired Candidate Profile:</h3></div>
                                    <br>
                                <div class="col-md-8" ng-bind-html="desired_candidate_profile">
                                    
                                </div>
                            </div>

                            <div class="footer-area">
                            <div class="row text-center">
                            <br>
                                <div class="col-md-4 col-sm-4">
                                    <a href="javascript:void(0);" data-scrollto="#template-contactform" data-easing="easeInOutExpo" data-speed="1250" class="btn btn-primary">Apply</a>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <a href="http://bit.ly/2s94ibe" class="btn btn-primary naukri" target="_blank">Apply via Naukri.com</a>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    Share with <a href="#" class="fbok"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" class="Twit"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                        </div>
                        
                    </div>
                </div>
            </div>

        </div>

    </div>