<div class="container-fluid">
        <div class="row">
            <div class="inner_header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn">
                        <h2>Mobile Application Service</h2>
                        <div class="paging">
                            Home  <a href="#">Mobile Application Service</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--////////////////////////////////////////////////////// Header End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <!--////////////////////////////////////////////////////// Content Part Start \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <div class="container">
        <div class="row">
            <div class="inner_part">
                <div class="col-md-12">
                    <div class="about_left">
                        <h2 class=" wow fadeIn">Services <span>WRC</span></h2>
                        <p class=" wow fadeIn">{{contact_details[0].company_aboutus}} </p>

                        <div class="row">
                        <div class="col-md-3">
                            
                            <div class="innerimg">
                                    <img src="storage/sites/images/mobile_development.jpg">
                            </div>

                        </div>

                        <div class="col-md-9">
                        <div class="about_ser wow fadeInRight">
                                
                                
                                <h3>Mobile Application Development</h3>
                              
                                <div class="col-md-12" ng-bind-html="mobile_application_full">
                                    
                                </div>
                               
                        </div>
                        </div>
                        </div>

                        

                        
                    </div>
                </div>

               

               

                     







            </div>
        </div>
    </div>
    <!--////////////////////////////////////////////////////// Content Part End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

     <!--////////////////////////////////////////////////////// Footer logo Start \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

    <div class="container">
        <div class="row">
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl1.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl2.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl3.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl4.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl5.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl6.jpg" alt=""></div></div>
        </div>
    </div>

    <!--////////////////////////////////////////////////////// Footer logo End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->