<div class="container-fluid">
        <div class="row">
            <div class="toppart wow fadeInDown top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="mobile"><a href="/"><img src="/storage/sites/images/logo.jpg" alt=""></a></span>
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="/">Home</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
                                                 <ul class="dropdown-menu">
                                                    <li><a href="/about-us">WRC Overview</a></li>
                                                    <!-- <li><a href="#">Career</a></li> -->
                                                 </ul>
                                            </li>
                                            <li><a href="#">Services</a></li>
                                        </ul>
                                        <span class="desktop"><a href=""><img src="/storage/sites/images/logo.jpg" alt=""></a></span>
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="/portfolio">Portfolio</a></li>
                                            <li><a href="/career">Careers</a></li>
                                            <li><a href="/contact">Contact Us</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.navbar-collapse -->
                                </div>
                                <!-- /.container-fluid -->
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>