<div class="container-fluid">
        <div class="row">
            <div class="inner_header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn">
                            <h2>Portfolio</h2>
                            <div class="paging">
                                Home <a href="#">Portfolio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--////////////////////////////////////////////////////// Header End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <!--////////////////////////////////////////////////////// Team Start \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <div class="container">
        <div class="row">
            <div class="portfolio_sec">
                <div class="col-md-12 wow fadeInDown top">
                    <h2>Portfolio</h2>
                    <p>Fresh portfolio of designs that will keep you wanting more.</p>
                </div>
                <div class="col-md-12 wow fadeIn">
                    <ul class="simplefilter">
                        <li class="{{active_class == 0 ? 'active': ''}}" data-filter="0" ng-click="filterPortFolio(0);">All</li>
                        <li class="{{active_class == 1 ? 'active': ''}}" data-filter="1" ng-click="filterPortFolio(1);">Software Development</li>
                        <li class="{{active_class == 2 ? 'active': ''}}" data-filter="2" ng-click="filterPortFolio(2);">Mobile Application</li>
                        <li class="{{active_class == 3 ? 'active': ''}}" data-filter="3" ng-click="filterPortFolio(3);">Web Development</li>
                        <li class="{{active_class == 4 ? 'active': ''}}" data-filter="4" ng-click="filterPortFolio(4);">Website Design</li>
                    </ul>
                    <!-- This is the set up of a basic gallery, your items must have the categories they belong to in a data-category
                        attribute, which starts from the value 1 and goes up from there -->
                    <div class="filtr-container" id="filtr_container" set-height>
                        <div class="col-xs-12 col-sm-4 col-md-4 filtr-item" ng-repeat="portfolio in portfolio_details"  set-custom="{{portfolio.portfolio_type}}"  data-sort="{{portfolio.portfolio_name}}">
                            <a href="#"><img class="img-responsive" ng-src="/upload/banner/resize/{{portfolio.portfolio_image}}" alt="{{portfolio.portfolio_image}}"></a>
                            <span class="item-desc">
                                    <h4>{{portfolio.portfolio_name}}</h4>
                                    <p>Software Development</p>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>