<div class="container-fluid">
        <div class="row">
            <div class="inner_header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn">
                            <h2>Portfolio</h2>
                            <div class="paging">
                                Home <a href="#">Portfolio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--////////////////////////////////////////////////////// Header End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <!--////////////////////////////////////////////////////// Team Start \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <div class="container">
        <div class="row">
            <div class="portfolio_sec">
                <section class="mastwrap white-bg">



          <div id="works-container" class="works-container works-masonry-container clearfix white-bg">


              <!-- start : works-item -->
              <div class="works-item works-item-one-third zoom ui web">
                      <img alt="" title="" class="img-responsive" src="storage/sites/images/01.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="storage/sites/images/01.jpg">
                          <div class="works-item-inner">
                            <h3><span class="dark font2black">Work Title</span></h3>
                            <p><span class="dark font1">Category</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-one-third info logos ui">
                      <img alt="" title="" class="img-responsive" src="storage/sites/images/01.jpg"/>
                      <a href="project.html">
                          <div class="works-item-inner">
                            <h3><span class="dark font2black">Work Title</span></h3>
                            <p><span class="dark font1">Category</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->


              <!-- start : works-item -->
              <div class="works-item works-item-one-third zoom branding graphics">
                      <img alt="" title="" class="img-responsive" src="storage/sites/images/01.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="storage/sites/images/01.jpg">
                          <div class="works-item-inner">
                            <h3><span class="dark font2black">Work Title</span></h3>
                            <p><span class="dark font1">Category</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->

          <!-- start : works-item -->
              <div class="works-item works-item-one-third info web graphics">
                      <img alt="" title="" class="img-responsive" src="storage/sites/images/01.jpg"/>
                      <a href="project.html">
                          <div class="works-item-inner">
                            <h3><span class="dark font2black">Work Title</span></h3>
                            <p><span class="dark font1">Category</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-one-third zoom branding">
                      <img alt="" title="" class="img-responsive" src="storage/sites/images/01.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="storage/sites/images/01.jpg">
                          <div class="works-item-inner">
                            <h3><span class="dark font2black">Work Title</span></h3>
                            <p><span class="dark font1">Category</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->




              <!-- start : works-item -->
              <div class="works-item works-item-one-third info logos">
                      <img alt="" title="" class="img-responsive" src="storage/sites/images/01.jpg"/>
                      <a href="project.html">
                          <div class="works-item-inner">
                            <h3><span class="dark font2black">Work Title</span></h3>
                            <p><span class="dark font1">Category</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-one-third zoom logos ui">
                      <img alt="" title="" class="img-responsive" src="storage/sites/images/01.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="storage/sites/images/01.jpg">
                          <div class="works-item-inner">
                            <h3><span class="dark font2black">Work Title</span></h3>
                            <p><span class="dark font1">Category</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-one-third info web">
                      <img alt="" title="" class="img-responsive" src="storage/sites/images/01.jpg"/>
                      <a href="project.html">
                          <div class="works-item-inner">
                            <h3><span class="dark font2black">Work Title</span></h3>
                            <p><span class="dark font1">Category</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->




               <!-- start : works-item -->
              <div class="works-item works-item-one-third zoom logos graphics">
                      <img alt="" title="" class="img-responsive" src="storage/sites/images/01.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="storage/sites/images/01.jpg">
                          <div class="works-item-inner">
                            <h3><span class="dark font2black">Work Title</span></h3>
                            <p><span class="dark font1">Category</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->



              <!-- start : works-item -->
              <div class="works-item works-item-one-third info branding">
                      <img alt="" title="" class="img-responsive" src="storage/sites/images/01.jpg"/>
                      <a href="project.html">
                          <div class="works-item-inner">
                            <h3><span class="dark font2black">Work Title</span></h3>
                            <p><span class="dark font1">Category</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->


              <!-- start : works-item -->
              <div class="works-item works-item-one-third zoom branding">
                      <img alt="" title="" class="img-responsive" src="storage/sites/images/01.jpg"/>
                      <a  class="venobox" data-gall="portfolio-gallery" href="storage/sites/images/01.jpg">
                          <div class="works-item-inner">
                            <h3><span class="dark font2black">Work Title</span></h3>
                            <p><span class="dark font1">Category</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->


              <!-- start : works-item -->
              <div class="works-item works-item-one-third info branding">
                      <img alt="" title="" class="img-responsive" src="storage/sites/images/01.jpg"/>
                      <a href="project.html">
                          <div class="works-item-inner">
                            <h3><span class="dark font2black">Work Title</span></h3>
                            <p><span class="dark font1">Category</span></p>
                          </div>
                      </a>
              </div>
              <!-- end : works-item -->



            </div>
            <!-- end : works-container -->


       







  </section>
            </div>
        </div>
    </div>