<div class="container-fluid">
        <div class="row">
            <div class="inner_header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn">
                            <h2>Portfolio</h2>
                            <div class="paging">
                                Home <a href="#">Portfolio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--////////////////////////////////////////////////////// Header End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <!--////////////////////////////////////////////////////// Team Start \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <div class="container">
        <div class="row">
            <div class="portfolio_sec">
                <div class="col-md-12 wow fadeInDown top">
                    <h2>Portfolio</h2>
                    <p>Fresh portfolio of designs that will keep you wanting more.</p>
                </div>
                <div class="col-md-12 wow fadeIn">
                    <ul class="simplefilter">
                        <li class="active" data-filter="all">All</li>
                        <li data-filter="1">Software Development</li>
                        <li data-filter="2">Mobile Application</li>
                        <li data-filter="3">Web Development</li>
                        <li data-filter="4">Website Design</li>
                    </ul>
                    <!-- This is the set up of a basic gallery, your items must have the categories they belong to in a data-category
                        attribute, which starts from the value 1 and goes up from there -->
                    <div class="filtr-container">
                        <div class="col-xs-12 col-sm-4 col-md-4 filtr-item" data-category="1, 4" data-sort="Busy streets">
                            <a class="group1" href="storage/sites/images/sample.jpg" title=""><img class="img-responsive" src="storage/sites/images/p1.jpg" alt=""></a>
                            <span class="item-desc">
                                    <h4>Digital 1 CRM</h4>
                                    <p>Software Development</p>
                                </span>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 filtr-item" data-category="2, 4" data-sort="Luminous night">
                            <a class="group1" href="storage/sites/images/sample.jpg" title=""><img class="img-responsive" src="storage/sites/images/p2.jpg" alt=""></a>
                            <span class="item-desc">
                                    <h4>Digital 1 CRM</h4>
                                    <p>Software Development</p>
                                </span>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 filtr-item" data-category="1, 4" data-sort="City wonders">
                            <a class="group1" href="storage/sites/images/sample.jpg" title=""><img class="img-responsive" src="storage/sites/images/p3.jpg" alt=""></a>
                            <span class="item-desc">
                                    <h4>Digital 1 CRM</h4>
                                    <p>Software Development</p>
                                </span>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 filtr-item" data-category="3" data-sort="In production">
                            <a class="group1" href="storage/sites/images/sample.jpg" title=""><img class="img-responsive" src="storage/sites/images/p4.jpg" alt=""></a>
                            <span class="item-desc">
                                    <h4>Digital 1 CRM</h4>
                                    <p>Software Development</p>
                                </span>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 filtr-item" data-category="3, 4" data-sort="Industrial site">
                            <a class="group1" href="storage/sites/images/sample.jpg" title=""><img class="img-responsive" src="storage/sites/images/p5.jpg" alt=""></a>
                            <span class="item-desc">
                                <h4>Digital 1 CRM</h4>
                                <p>Software Development</p>
                            </span>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 filtr-item" data-category="2, 4" data-sort="Peaceful lake">
                            <a class="group1" href="storage/sites/images/sample.jpg" title=""><img class="img-responsive" src="storage/sites/images/p6.jpg" alt=""></a>
                            <span class="item-desc">
                                    <h4>Digital 1 CRM</h4>
                                    <p>Software Development</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>