<div class="container-fluid">
        <div class="row">
            <div class="inner_header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn">
                        <h2>Saas Application Service</h2>
                        <div class="paging">
                            Home  <a href="#">Saas Application Service</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--////////////////////////////////////////////////////// Header End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <!--////////////////////////////////////////////////////// Content Part Start \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <div class="container">
        <div class="row">
            <div class="inner_part">
                <div class="col-md-12">
                    <div class="about_left">
                        <h2 class=" wow fadeIn">Services <span>WRC</span></h2>
                        <p class=" wow fadeIn">{{contact_details[0].company_aboutus}} </p>

                        <div class="row">
                        <div class="col-md-3">
                            
                            <div class="innerimg">
                                    <img src="storage/sites/images/saas_solutions.jpg">
                            </div>

                        </div>

                        <div class="col-md-9">
                        <div class="about_ser wow fadeInRight">
                                
                                
                                <h3>Saas Application Development</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                <ul>
                                    <li>Web-Based Software Application and Product Development</li>
                                    <li>Enterprise Web Portal Development</li>
                                    <li>Business Application Development</li>
                                </ul>
                                
                               
                        </div>
                        </div>
                        </div>

                        

                        
                    </div>
                </div>

               

               

                     







            </div>
        </div>
    </div>
    <!--////////////////////////////////////////////////////// Content Part End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

     <!--////////////////////////////////////////////////////// Footer logo Start \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

    <div class="container">
        <div class="row">
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl1.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl2.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl3.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl4.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl5.jpg" alt=""></div></div>
            <div class="col-sm-2"><div class="pertnerlogo wow fadeInDown"><img src="storage/sites/images/fl6.jpg" alt=""></div></div>
        </div>
    </div>

    <!--////////////////////////////////////////////////////// Footer logo End \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->